.container{
    background-color: aqua;
    background-image: url("../img/pexels-pixabay-53404.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5% 5% 5% 5%;
    padding: 20px;

}

.container1{
    background-color: aqua;
    background-image: url("../img/pexels-max-fischer-5211478.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    margin: 0 auto;
}
.container2{
    width: 40%;
    height: 400px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.imgl{
    width: 80%;
    background-image: url('../img/tabuada.jpg');
    background-size: 50%;
}